<header class="header">
  这里是初学者。如有错误，欢迎指正！
</header>
<nav class="nav" role="navigation">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/pages/home">首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/essay">随笔</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/study">学业</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/develop">测试</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/amuse">兴趣</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/other">其他</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pages/about">关于</a>
    </li>
  </ul>
</nav>